.overallGameContainer{
    float: left;
    width: 100%;
    height: 100vh;
    background: #e5e5e5;
}

.victoryDiv{
    border: 1px solid #918181;
    float: left;
    width: 100%;
    height: 20%;
}
.thePlayingFieldDiv{
    border: 1px solid #918181;
    float: left;
    width: 100%;
    height: 60%;
}

.danceFloorRow{
    float: left;
    width: 100%;
    height: 20%;
}

.danceFloorBlock{
    float: left;
    width: 10%;
    height: 100%;
    border: 1px solid #918181;
}

.footerStatsDiv{
    border: 1px solid #918181;
    float: left;
    width: 100%;
    height: 20%;
}

.footerStatsOne{
    border: 1px solid #918181;
    float: left;
    width: 40%;
    height: 100%;
    background: black;
}

.footerStatsOne.active{
    box-shadow: 10px 0px 50px red;
}

.footerStatsOne.waiting{
    opacity: 0.5;
    cursor: not-allowed;
}

.footerStatsTwo{
    border: 1px solid #918181;
    float: left;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.footerStatsThree{
    border: 1px solid #918181;
    float: left;
    width: 40%;
    height: 100%;
    background: black;
}

.footerStatsThree.active{
    box-shadow: 10px 0px 50px red;
}

.footerStatsThree.waiting{
    opacity: 0.5;
    cursor: not-allowed;
}

.gitiRow{
    float: left;
    width: 100%;
    height: 50%;
    // border: 1px solid #918181;
}

.gitiRow .gitiBlock{
    float: left;
    width: 50%;
    // border: 1px solid #918181;
    height: 100%;
}

.gitiRow .gitiBlock .giti{
    width: 20%;
    height: 75%;
    border: 1px solid;
    border-radius: 100%;
    margin: 3% auto;
    cursor: pointer;
}

.playMessage{
    width: 75%;
    text-align: center;
    font-size: 50px;
    margin: 10%;
}

.gitiRow.red .giti{
    background: red;
}

.gitiRow.blue .giti{
    background: blue;
}

.gitiRow.yellow .giti{
    background: yellow;
}

.gitiRow.green .giti{
    background: green;
}