<section class="container-fluid overallGameContainer">
  <!-- victory div to show the ones who made it  -->
  <div class="victoryDiv">

  </div>

  <!-- playing field div to show the games dance floor -->
  <div class="thePlayingFieldDiv">
    <div class="danceFloorRow">
      <div *ngFor="let danceBlock of generateArray(danceBlockObj); let i = index" class="danceFloorBlock {{i}} ">

        <div *ngFor="let playa of danceBlock" [class]="getPlayersClass(danceBlock) +' gitiBlock'">
          <div [class]="playa.color +' giti'"> </div>
        </div>
      </div>
    </div>
  </div>

  <!-- basically the footer div to show stats, the turn, the options and the players who are still waiting  -->
  <div class="footerStatsDiv">

    <div class="footerStatsOne" [class.active]="database.currentTeam == 'T1'" [class.waiting]="!database.isGameOn">
      <div class="gitiRow {{ database.teams.T1.color }}">
        <div *ngFor="let teamPlayer of generateArray(database.teams.T1.players); let i = index" class="gitiBlock">
          <div [class.moving]="teamPlayer.status == 'M'" (click)="moveIt('T1', i)" class="giti"></div>
        </div>
      </div>
    </div>

    <div class="footerStatsTwo">
      <div (click)="startTheGame()" *ngIf="!database.isGameOn" class="playMessage">
        Start
      </div>
      <div (click)="roll()" class="playMessage" *ngIf="database.currentTeam">
        <!-- <span *ngIf="!database.isRollAwaited"> Roll {{database.currentTeam}} </span> -->
        <span *ngIf="!database.isRollAwaited"> {{database.currentRoll}} </span>
        <i *ngIf="database.isRollAwaited" class="fas fa-dice"></i>
      </div>
    </div>



    <div class="footerStatsThree" [class.active]="database.currentTeam == 'T2'" [class.waiting]="!database.isGameOn">
      <div class="gitiRow {{ database.teams.T2.color }}">
        <div *ngFor="let teamPlayer of generateArray(database.teams.T2.players); let i = index" class="gitiBlock">
          <div [class.moving]="teamPlayer.status == 'M'" (click)="moveIt('T2', i)" class="giti"></div>
        </div>
      </div>
    </div>
  </div>
</section>