.overallGameContainer{
    float: left;
    width: 100%;
    height: 100vh;
    background: #e5e5e5;
}

.victoryDiv{
    border: 1px solid #918181;
    float: left;
    width: 100%;
    height: 20%;
}
.thePlayingFieldDiv{
    border: 1px solid #918181;
    float: left;
    width: 100%;
    height: 60%;
}

.danceFloorRow{
    float: left;
    width: 100%;
    height: 20%;
}

.danceFloorBlock{
    float: left;
    width: 10%;
    height: 100%;
    border: 1px solid #918181;
    position: relative;
}

.footerStatsDiv{
    border: 1px solid #918181;
    float: left;
    width: 100%;
    height: 20%;
}

.footerStatsOne{
    border: 1px solid #918181;
    float: left;
    width: 40%;
    height: 100%;
    background: black;
}

.footerStatsOne.active{
    box-shadow: 10px 0px 50px red;
}

.footerStatsOne.waiting{
    opacity: 0.5;
    cursor: not-allowed;
}

.footerStatsTwo{
    border: 1px solid #918181;
    float: left;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.footerStatsThree{
    border: 1px solid #918181;
    float: left;
    width: 40%;
    height: 100%;
    background: black;
}

.footerStatsThree.active{
    box-shadow: 10px 0px 50px red;
}

.footerStatsThree.waiting{
    opacity: 0.5;
    cursor: not-allowed;
}


.gitiRow{
    float: left;
    width: 100%;
    height: 50%;
    // border: 1px solid #918181;
}

.gitiRow .gitiBlock{
    float: left;
    width: 50%;
    // border: 1px solid #918181;
    height: 100%;
}

.gitiRow .gitiBlock .giti{
    width: 20%;
    height: 75%;
    border: 1px solid;
    border-radius: 100%;
    margin: 3% auto;
    cursor: pointer;
}

.playMessage{
    width: 75%;
    text-align: center;
    font-size: 50px;
    margin: 10%;
}

.gitiRow.red .giti{
    background: red;
}

.gitiRow.blue .giti{
    background: blue;
}

.gitiRow.yellow .giti{
    background: yellow;
}

.gitiRow.green .giti{
    background: green;
}


.giti.moving{
    background: #e5e5e5 !important;
}

.danceFloorBlock .gitiBlock{
    float: left;
    width: 100%;
}

.danceFloorBlock .gitiBlock .giti{
    width: 20%;
    // margin: 10% auto;
    height: 25px;
    border: 1px solid;
    border-radius: 100%;
}

// blocks
.giti.red{
    background: red;
}

.giti.blue{
    background: blue;
}

.giti.green{
    background: green;
}

.giti.yellow{
    background: yellow;
}
// blocks

// gitis handled to position
//one
.gitiBlock.one{
    position: relative;
}

.danceFloorBlock .gitiBlock.one {
    margin: 0; 
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.danceFloorBlock .gitiBlock.one .giti{
    margin: auto; 
}

// one

//two
.gitiBlock.two{
    position: relative;
    height: 50%;
}

.danceFloorBlock .gitiBlock.two .giti{
    // margin: auto; 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 40%;
}
// two

//three
.gitiBlock.three{
    position: relative;
    height: 33%;;
}

.danceFloorBlock .gitiBlock.three .giti{
    // margin: auto; 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
}
// three

// four
.gitiBlock.four{
    position: relative;
    height: 25%;;
}

.danceFloorBlock .gitiBlock.four .giti{
    // margin: auto; 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
}

// four

// five
.gitiBlock.five{
    position: relative;
    height: 25%;
    width: 50% !important;
}

.danceFloorBlock .gitiBlock.five .giti{
    // margin: auto; 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
}

// five

// six
.gitiBlock.six{
    position: relative;
    height: 25%;
    width: 50% !important;
}

.danceFloorBlock .gitiBlock.six .giti{
    // margin: auto; 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
}

// six

// seven 
.gitiBlock.seven{
    position: relative;
    height: 25%;
    width: 50% !important;
}

.danceFloorBlock .gitiBlock.seven .giti{
    // margin: auto; 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
}

// seven 

// eight
.gitiBlock.eight{
    position: relative;
    height: 25%;
    width: 50% !important;
}

.danceFloorBlock .gitiBlock.eight .giti{
    // margin: auto; 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35%;
}

// eight
